.main-createEmployee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%
}

.title-createEmployee {
    color: var(--green-1);
    text-align: center;
}