.main-employeesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.titleEmployeesList {
    color: var(--green-1);
    text-align: center;
}